<div class="login">
  <div class="image">
    <img src="/login.png" alt="" />
  </div>
  <form action="" [formGroup]="username" class="flex-column ">
    <h1>User Login</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-icon matTextPrefix>email</mat-icon>
      <input matInput type="email" formControlName="email" />
      @if (username.controls.email.invalid && username.controls.email.touched) {
        <mat-error>Fill in the field</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <mat-icon matTextPrefix>lock</mat-icon>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      @if (username.controls.password.invalid && username.controls.password.touched) {
        <mat-error>Enter the Password</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      style="background-color: rgb(77, 209, 77); color: white"
      (click)="sumbit()"
      [disabled]="!username.valid"
    >
      Login
    </button>
    <a href="">Forgot username / Password</a>
  </form>
</div>
