<div class="login">
  <div class="image">
    <img src="/login.png" alt="" />
  </div>
  <form action="" [formGroup]="username" class="flex flex-col gap-4">
    <h1 class="text-2xl font-bold">User Login</h1>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <label class="input-group">
        <span>Email</span>
        <input
          type="email"
          placeholder="Email"
          class="input input-bordered"
          formControlName="email"
        />
      </label>
      <div
        *ngIf="username.controls.email.invalid && username.controls.email.touched"
        class="text-red-500"
      >
        Fill in the field
      </div>
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <label class="input-group">
        <span>Password</span>
        <input
          type="password"
          placeholder="Password"
          class="input input-bordered"
          formControlName="password"
        />
      </label>
      <div
        *ngIf="username.controls.password.invalid && username.controls.password.touched"
        class="text-red-500"
      >
        Enter the Password
      </div>
    </div>
    <button class="btn btn-primary" (click)="sumbit()" [disabled]="!username.valid">Login</button>
    <a href="" class="link">Forgot username / Password</a>
  </form>
</div>
