@use 'mixins/response_to' as response;

.login {
  background-color: #eee;
  margin-top: 250px;
  border-radius: 10px;
  padding:10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .image{
    display: flex;
    justify-content: center;
  }
  .image img {
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 24px #5f5b5b;
    border-radius: 50%;
    margin-bottom: 100px;
  }

  form {
    align-items: center;
    h1 {
      text-align: center;
      margin-top: -50px;
    }

    a {
      text-align: center;
      margin-top: 10px;
      text-decoration: none;
      color: #4f5059;
    }
  }

  mat-form-field {
    width: 300px;
  }

  mat-form-field input {
    width: 200px;
  }
}

@include response.respond-to(md) {
  .login {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    .image img{
      margin: 0px;
    }
    form h1 {
      margin-top: 50px;
    }
  }
  mat-form-field input{
    width: 500px;
  }

}

@include response.respond-to(lg) {
  mat-form-field {
    width: 500px;
    height: 75px;
  }
}
