@use 'mixins/response_to' as response;
@use 'mixins/breakpoints' as breakpoints;

.container {
  // padding-left: 15px;
  // padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@include response.respond-to(sm) {
  .container {
    width: calc(map-get(breakpoints.$breakpoints, sm) - 10px);
  }
}

/* Medium */
@include response.respond-to(md) {
  .container {
    width: calc(map-get(breakpoints.$breakpoints, md) - 10px);
  }
}
/* Large */
@include response.respond-to(lg) {
  .container {
    width: calc(map-get(breakpoints.$breakpoints, lg) - 10px);
  }
}
