<lib-dynamic-form
  class="flex-1 overflow-y-auto"
  [entity]="entityInfosValidation"
  [formControl]="entityForm"
/>
<button duiButton class="btn-circle" (click)="addProperty()">
  <img [src]="icons.plusCircle" class="size-full" />
</button>
<lib-data-grid [entity]="propertyWithValidationInfo" [data]="properties()" [actions]="actions" />

{{ entityForm.errors | json }}

<button [duiButton]="'btn-primary'" [disabled]="entityForm.invalid" (click)="saveEntity()">
  save
</button>
<button [duiButton]="'btn-secondary'">close</button>

@if (editProperty) {
  <dialog #editPropertyDlg class="modal modal-bottom sm:modal-middle">
    <div class="modal-box flex flex-col">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="text-lg font-bold">Edit</h3>
      <lib-dynamic-form
        class="flex-1 overflow-y-auto"
        [entity]="propertyWithValidationInfo"
        [formControl]="editProperty"
      />
      <div class="modal-action">
        <button
          [duiButton]="'btn-primary'"
          [disabled]="editProperty.invalid"
          (click)="saveProperty()"
        >
          save
        </button>
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button [duiButton]="'btn-secondary'">close</button>
        </form>
      </div>
    </div>
  </dialog>
}
