<p>edit-entity-info works!</p>
<!-- {{ entity() }} -->
<!-- {{ entityInfo() | json }} -->

<fieldset class="fieldset bg-base-200 border border-base-300 p-4 rounded-box">
  <legend class="fieldset-legend">Entity name</legend>
  <input type="text" class="input" placeholder="entity name" />

  <legend class="fieldset-legend">description</legend>
  <input type="text" class="input" placeholder="entity name" [value]="entityInfo().name" />

  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div class="w-25 text-center text-xl">type</div>
      <div class="w-40 text-xl">name</div>
      <div class="text-xl list-col-grow">name</div>
      <div class="text-xl">action</div>
    </li>

    @for (property of properties(); track property) {
      <li class="list-row">
        <div class="text-xs btn w-25" [ngClass]="type2Color[property.property.property.type]">
          {{ property.property.property.type }}
        </div>
        <div class="list-col w-40">
          <div class="text-xl">{{ property.key }}</div>
        </div>
        <div class="list-col-grow">
          <div class="text-xl">{{ property.property.property.label }}</div>
        </div>
        <app-edit-entity-property class="btn btn-square btn-ghost" [property]="property" />
      </li>
    }
    <li class="list-row">
      <button class="btn btn-outline w-25">
        add
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
      <div class="text-xl">Add new column For your table</div>
    </li>
  </ul>
</fieldset>
