<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter your username" />
      @if (userForm.get('username')?.invalid && userForm.get('username')?.touched) {
      <mat-error>Username is required (minimum 3 characters)</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      @if(userForm.get('email')?.invalid && userForm.get('email')?.touched) {

      <mat-error>
        Valid email is required
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter your password" />
      @if(userForm.get('password')?.invalid && userForm.get('password')?.touched) {

      <mat-error>
        Password is required (minimum 6 characters)
      </mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">
      Submit
    </button>
  </form>
</div>
